@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

a {
    text-decoration: none !important;
    outline: none;
}

body {
    color: #3b3950;
    background: #0303a8;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif !important;
}

p {
    line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.nav-item .nav-link {
    display: inline-block;
    color: #3b3950;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.navbar-custom {
    padding: 14px 0px;
    width: 100%;
    border-radius: 0px;
    z-index: 999;
    margin-bottom: 0px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: transparent;
}

.navbar-custom .logo .logo-dark {
    display: none;
}

.navbar-custom .navbar-nav li a {
    line-height: 26px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: transparent !important;
    padding: 6px 0;
    margin: 0 20px;
}

/* .navbar-custom .navbar-nav li:last-child a {
    margin-right: 0px;
} */

.navbar-custom .navbar-nav li .nav-link {
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-custom .navbar-nav li.active a,
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:active {
    color: #fff !important;
}

.navbar-custom .navbar-toggles {
    padding: 0.25rem 0.75rem;
    font-size: 18px;
    background: 0 0;
}

.navbar-custom .logo .logo-dark {
    display: inline-block;
}

.navbar-custom .logo .logo-light {
    display: none;
}

.navbar-toggler {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #fff;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
    background-color: transparent;
    border-color: #5a4fdc;
}

.bg-dark {
    background-color: #0303a8 !important;
}

.bg-soft-black {
    background-color: rgba(0, 0, 0, 0.12);
}

.text-white {
    color: #fff !important;
}

.font-weight-medium {
    font-weight: 500;
}

.font-weight-semibold {
    font-weight: 600;
}

.section {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}

.bg-overlay {
    background-color: #000;
    opacity: 0.85;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.bg-gradient-primary {
    background: -webkit-gradient(linear, left bottom, left top, from(#4fccdc), to(#5a4fdc));
    background: linear-gradient(to top, #4fccdc 0%, #5a4fdc 100%);
}

.line-height-1_6 {
    line-height: 1.6;
}

.line-height-1_4 {
    line-height: 1.4;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-15 {
    font-size: 15px;
}

.font-size-16 {
    font-size: 16px;
}

.title {
    color: #fff;
}

.hero-bottom-img {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.right-icon {
    line-height: 0;
    font-size: 19px;
}

.icon-size-15 {
    height: 15px;
    width: 15px;
}

.hero-6-bg .Subcribe-form input {
    color: #4c5667 !important;
    border: none;
    outline: none !important;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    top: 3px;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fbfafd;
    border-color: #ced4da;
}

.form-control {
    padding: 8px 20px;
    font-size: 14px;
    height: 40px;
    background-color: #fbfafd;
    border: 1px solid #fbfafd;
}

.footer {
    background: #292bcc;
    padding: 70px 0 40px;
}

.footer .footer-sub-menu li {
    padding: 6px 0;
}

.login-form .login-social-icon.icon-light {
    background-color: #fbfafd;
}

.login-form .login-social-icon.icon-light:hover {
    -webkit-box-shadow: 0 0 0 5px rgba(251, 250, 253, 0.16);
    box-shadow: 0 0 0 5px rgba(251, 250, 253, 0.16);
}

.footer .footer-social-icon-content .footer-social-icon {
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.footer .footer-social-icon-content .footer-social-icon:hover {
    color: #fff;
}

.footer .footer-sub-menu li {
    padding: 6px 0;
}

.footer .footer-sub-menu li .footer-link {
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.footer .footer-sub-menu li .footer-link:hover {
    color: #fff;
    margin-left: 5px;
}

.footer-alt {
    background: #23222f;
}
